# Database administrative login by Unix domain socket
local   all             postgres                                peer

# "local" is for Unix domain socket connections only
local   all             all                                     md5

# IPv4 local connections:
host    all             all             127.0.0.1/32            md5

# Allow connections from application server
host    {{ db_name }}   {{ db_user }}   {{ hostvars[groups['app_servers'][0]]['ansible_host'] }}/32    md5

# IPv6 local connections:
host    all             all             ::1/128                 md5

# Allow connections from anywhere (for testing, restrict in production)
host    {{ db_name }}   {{ db_user }}   0.0.0.0/0               md5